<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript">

    </script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <% valorVenda = 0.00; %>
          <h3>Cod Venda: <%= data[0].idVenda%> // Vendedor: <%=data[0].usuarioVenda%> // Data: <%=data[0].dataVenda%></h3><br>
          <h3>Produtos</h3>
          <table class="table table-striped">
            <h4>Lista de Produtos</h4>
            <tr>
              <th>Cod. Produto</th><th>Quantidade</th><th>Marca</th><th>Descrição</th><th>Valor Unitário</th><th>Ação</th>
            </tr>
          <%for(var i = 0; i < data.length ;i++){
            valorVenda += data[i].qtdVenda * data[i].valorUnitVenda%>
            <tr>
              <td><%= data[i].idProduto%></td>
              <td><%= data[i].qtdVenda%></td>
              <td><%= data[i].marcaProduto%></td>
              <td><%= data[i].descProduto%></td>
              <td>R$ <%= data[i].valorUnitVenda%></td>
              <td><a class="btn btn-info" >Detalhes</a></td>
            </tr>

          <%}%>
          </table>
          <p>Valor Total: R$ <%= valorVenda %></p>
  			</div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
